@model IEnumerable<ContosoUniversity.ViewModels.EnrollmentDateGroup>
           
@{
    ViewBag.Title = "Student Body Statistics";
}

<h2 class="HeadingDecoration">Student Body Statistics</h2>

<div class="container">
    <table class="table table-striped">
        <tr>
            <th class="bg-primary">
                Enrollment Date
            </th>
            <th class="bg-primary">
                Students
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.EnrollmentDate)
                </td>
                <td>
                    @item.StudentCount
                </td>
            </tr>
        }
    </table>
</div>

<img src="~/Content/Images/NTU.jpg" class="img-responsive img-rounded"/>